#Environment variables / secrets 
.env
.env.*
!.env.example

#Python
__pycache__/
*.pyc
.venc/
venv/

# Node/Next.js
node_modules/
.next/
out/

#IDE

.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

#Logs
*.log
